.bg-dark.type-2 {
  background: #060c17 none repeat scroll 0 0;
  color: #fff;
  .bg-black {
    background: #040914 none repeat scroll 0 0;
  }
}

footer.type-22 .footer-link {
  padding: 20px 0;
}

.footer-link {
  padding: 30px 0 18px;
  position: relative;
  width: 100%;
}

.bg-dark.type-22 .copyright {
  float: left;
}

footer.type-22 .copyright {
  margin-top: 10px;
}

.copyright {
  float: right;
  position: relative;
}

.bg-dark.type-22 .copyright span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.copyright span {
  color: #777;
  font-size: 12px;
  line-height: 12px;
}

.bg-dark.type-22 .footer-link ul {
  display: inline-block;
  float: right;
}

.footer-link ul {
  float: left;
  position: relative;
}

ul {
  list-style: outside none none;
}

.bg-dark.type-22 .footer-link ul li {
  line-height: 40px;
  margin: 0 0 0 30px;
}

.footer-link ul li {
  color: #fff;
  float: left;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 13px;
  margin-right: 17px;
  position: relative;
  text-transform: uppercase;
}

.border-gray{
  margin: 10px 0;
  border: solid #ECECEC;
  border-radius:4px;
}

.clip1{
  background: image-url("main_slide_1.png");
  background-position: 50% 50%;
  background-repeat: no-repeat; 
  background-attachment: scroll;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

.clip2{
  background: image-url("slider2.png");
  background-position: 50% 50%;
  background-repeat: no-repeat; 
  background-attachment: scroll;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

.fixed_block{
    position: relative;
    width: 100%;
    height: 420px;
    background: image-url('bg_1.jpg') no-repeat fixed;
    background-size: cover !important;
    background-position: right !important;
}

.price-fix{
  font-size: 18px;
}